
// Colors
$grey: #333333;
$white: #ffffff;
$black: #000000;
$light-blue: #B5D0E2;
$lighter-blue: #2099E8;
$blue-dos: #1E90FF;
$orange-dark: #B34C01;
$red-dark: #8e413e;


// Navigation colors
$nav-background: $red-dark;
$nav-text-color: $white;
$nav-text-color-dos: $black;

//Clock
$clock-text-color: $white;
$clock-bg-color: $light-blue;
$clock-border-color: $lighter-blue;
